<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Application</th>
        <th>Description</th>
        <th>Cache Types Refreshed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servers of serverList">
        <td><input type="checkbox" class="checkbox" name="" id="" /></td>
        <td>{{ servers.application }}</td>
        <td>{{ servers.description }}</td>
        <td>{{ servers.cache }}</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-group">
    <button type="button" (click)="listServers()">Refresh</button>
    <button (click)="checkAll()">Select All</button>
    <button (click)="clearCheck()">Clear Selections</button>
  </div>
</div>
